.flex_menu {
  display: flex;
  margin: 50px;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .flex_menu {
    flex-direction: column;
    margin: 20px;
  }
}
.flex_menu a {
  text-decoration: none;
}
